{"swagger":"2.0","info":{"title":"connectwise_api","description":"ConnectWise PSA API endpoints","version":"1.0"},"host":"api-au.myconnectwise.net","basePath":"/v4_6_release/apis/3.0/","schemes":["https"],"consumes":[],"produces":[],"paths":{"/company/companies":{"get":{"responses":{"200":{"description":"OK"}},"summary":"Get Companies","description":"Get Companies from ConnectWise","operationId":"get_companies","parameters":[{"name":"conditions","in":"query","required":false,"type":"string"},{"name":"childConditions","in":"query","required":false,"type":"string"},{"name":"customFieldConditions","in":"query","required":false,"type":"string"},{"name":"orderBy","in":"query","required":false,"type":"string"},{"name":"fields","in":"query","required":false,"type":"string"},{"name":"page","in":"query","required":false,"type":"integer"},{"name":"pageSize","in":"query","required":false,"type":"integer"},{"name":"pageId","in":"query","required":false,"type":"integer"},{"name":"clientId","in":"header","required":true,"type":"string","default":"YOUR-CW-CLIENT-ID"},{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json"}]}},"/company/companies/{id}":{"get":{"responses":{"200":{"description":"OK"}},"summary":"Get Company by ID","description":"Get a Company from ConnectWise by ID","operationId":"get_company_by_id","parameters":[{"name":"id","in":"path","required":true,"type":"string"},{"name":"fields","in":"query","required":false,"type":"string"},{"name":"clientId","in":"header","required":true,"type":"string","default":"YOUR-CW-CLIENT-ID"},{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json"}]}},"/company/companies/count":{"get":{"responses":{"200":{"description":"OK"}},"summary":"Get Companies","description":"Get Companies from ConnectWise","operationId":"get_companies_count","parameters":[{"name":"conditions","in":"query","required":false,"type":"string"},{"name":"childConditions","in":"query","required":false,"type":"string"},{"name":"customFieldConditions","in":"query","required":false,"type":"string"},{"name":"clientId","in":"header","required":true,"type":"string","default":"YOUR-CW-CLIENT-ID"},{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json"}]}},"/finance/agreements/{id}":{"get":{"responses":{"200":{"description":"OK"}},"summary":"Get Agreement by ID","description":"Get an Agreement from ConnectWise by ID","operationId":"get_agreement_by_id","parameters":[{"name":"id","in":"path","required":true,"type":"string"},{"name":"fields","in":"query","required":false,"type":"string"},{"name":"clientId","in":"header","required":true,"type":"string","default":"YOUR-CW-CLIENT-ID"},{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json"}]}},"/finance/agreements/{parentId}/additions":{"get":{"responses":{"200":{"description":"OK"}},"summary":"Get Agreement Additions","description":"Get Agreement Additions from ConnectWise","operationId":"get_agreement_additions","parameters":[{"name":"parentId","in":"path","required":true,"type":"string"},{"name":"conditions","in":"query","required":false,"type":"string"},{"name":"childConditions","in":"query","required":false,"type":"string"},{"name":"customFieldConditions","in":"query","required":false,"type":"string"},{"name":"orderBy","in":"query","required":false,"type":"string"},{"name":"fields","in":"query","required":false,"type":"string"},{"name":"page","in":"query","required":false,"type":"integer"},{"name":"pageSize","in":"query","required":false,"type":"integer"},{"name":"pageId","in":"query","required":false,"type":"integer"},{"name":"clientId","in":"header","required":true,"type":"string","default":"YOUR-CW-CLIENT-ID"},{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json"}]}},"/sales/opportunities":{"get":{"responses":{"200":{"description":"OK"}},"summary":"Get Opportunities","description":"Get Opportunities from ConnectWise","operationId":"get_opportunities","parameters":[{"name":"conditions","in":"query","required":false,"type":"string"},{"name":"childConditions","in":"query","required":false,"type":"string"},{"name":"customFieldConditions","in":"query","required":false,"type":"string"},{"name":"orderBy","in":"query","required":false,"type":"string"},{"name":"fields","in":"query","required":false,"type":"string"},{"name":"page","in":"query","required":false,"type":"integer"},{"name":"pageSize","in":"query","required":false,"type":"integer"},{"name":"pageId","in":"query","required":false,"type":"integer"},{"name":"clientId","in":"header","required":true,"type":"string","default":"YOUR-CW-CLIENT-ID"},{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json"}]},"post":{"responses":{"201":{"description":"Created","schema":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"id"}}}}},"summary":"Create Opportunity","description":"Create new Opportunity in ConnectWise","operationId":"create_opportunity","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"name":{"type":"string","description":"name"},"expectedCloseDate":{"type":"string","description":"Expected Close Date"},"type":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Type ID","title":"Type ID"}},"description":"type"},"stage":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Stage ID","title":"Stage ID"}},"description":"stage"},"status":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Status ID","title":"Status ID"}},"description":"status"},"priority":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Priority ID","title":"Priority ID"}},"description":"priority"},"notes":{"type":"string","description":"Notes"},"probability":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Probability ID","title":"Probability ID"}},"description":"probability"},"source":{"type":"string","description":"Source"},"rating":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Rating ID","title":"Rating ID"}},"description":"rating"},"campaign":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Campaign ID","title":"Campaign ID"}},"description":"campaign"},"primarySalesRep":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Primary Sales Rep ID","title":"Primary Sales Rep ID"}},"description":"primarySalesRep","required":["id"]},"secondarySalesRep":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Secondary Sales Rep ID","title":"Secondary Sales Rep ID"}},"description":"secondarySalesRep"},"locationId":{"type":"integer","format":"int32","description":"locationId"},"businessUnitId":{"type":"integer","format":"int32","description":"businessUnitId"},"company":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Company ID","title":"Company ID"}},"description":"company","required":["id"]},"contact":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Contact ID","title":"Contact ID"}},"description":"contact","required":["id"]},"site":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Site ID","title":"Site ID"}},"description":"site"},"customerPO":{"type":"string","description":"customerPO"}},"required":["name","company","contact","primarySalesRep"]}},{"name":"clientId","in":"header","required":true,"type":"string","default":"YOUR-CW-CLIENT-ID"},{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json"}]}},"/sales/opportunities/{id}":{"get":{"responses":{"200":{"description":"OK"}},"summary":"Get Opportunity by ID","description":"Get an Opportunity from ConnectWise by ID","operationId":"get_opportunities_by_id","parameters":[{"name":"id","in":"path","required":true,"type":"string"},{"name":"fields","in":"query","required":false,"type":"string"},{"name":"clientId","in":"header","required":true,"type":"string","default":"YOUR-CW-CLIENT-ID"},{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json"}]},"patch":{"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"id"}}}}},"summary":"Update Opportunity","description":"Update an Opportunity in ConnectWise","operationId":"update_opportunity","parameters":[{"name":"id","in":"path","required":true,"type":"string"},{"name":"clientId","in":"header","required":true,"type":"string","default":"YOUR-CW-CLIENT-ID"},{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json"},{"name":"body","in":"body","required":true,"schema":{"type":"array","items":{"type":"object","properties":{"op":{"type":"string","description":"op","default":"replace"},"path":{"type":"string","description":"path"},"value":{"type":"string","description":"value"}}}}}]}},"/sales/opportunities/{parentId}/forecast":{"get":{"responses":{"200":{"description":"OK"}},"summary":"Get Opportunity Forecast","description":"Get Opportunity Forecast from ConnectWise","operationId":"get_opportunity_forecast","parameters":[{"name":"parentId","in":"path","required":true,"type":"string"},{"name":"conditions","in":"query","required":false,"type":"string"},{"name":"childConditions","in":"query","required":false,"type":"string"},{"name":"customFieldConditions","in":"query","required":false,"type":"string"},{"name":"orderBy","in":"query","required":false,"type":"string"},{"name":"fields","in":"query","required":false,"type":"string"},{"name":"page","in":"query","required":false,"type":"integer"},{"name":"pageSize","in":"query","required":false,"type":"integer"},{"name":"pageId","in":"query","required":false,"type":"integer"},{"name":"clientId","in":"header","required":true,"type":"string","default":"YOUR-CW-CLIENT-ID"},{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json"}]}},"/sales/opportunities/{parentId}/forecast/{id}":{"get":{"responses":{"200":{"description":"OK"}},"summary":"Get Opportunity Forecast Items by ID","description":"Get an Opportunity Forecast Item from ConnectWise by ID","operationId":"get_opportunity_forecastitem_by_id","parameters":[{"name":"parentId","in":"path","required":true,"type":"string"},{"name":"id","in":"path","required":true,"type":"string"},{"name":"fields","in":"query","required":false,"type":"string"},{"name":"clientId","in":"header","required":true,"type":"string","default":"YOUR-CW-CLIENT-ID"},{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json"}]},"post":{"responses":{"201":{"description":"Created","schema":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"id"}}}}},"summary":"Create Opportunity Forecast Item","description":"Create new Opportunity Forecast Item in ConnectWise","operationId":"create_opportunity_forecastitem","parameters":[{"name":"id","in":"path","required":true,"type":"string"},{"name":"parentId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"forecastDescription":{"type":"string","description":"forecastDescription"},"opportunity":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Opportunity ID","title":"Opportunity ID"}},"description":"opportunity","required":["id"]},"quantity":{"type":"number","description":"quantity"},"status":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Status ID","default":1,"title":"Status ID"}},"description":"status","required":["id"]},"catalogItem":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Catalog ID","title":"Catalog ID"}},"description":"catalogItem","required":["id"]},"productDescription":{"type":"string","description":"productDescription"},"revenue":{"type":"number","description":"revenue"},"cost":{"type":"number","description":"cost"},"includeFlag":{"type":"boolean","description":"includeFlag"},"forecastType":{"type":"string","description":"forecastType"},"linkFlag":{"type":"boolean","description":"linkFlag"},"recurringRevenue":{"type":"number","description":"recurringRevenue"},"recurringCost":{"type":"number","description":"recurringCost"},"cycles":{"type":"integer","format":"int32","description":"cycles"},"recurringFlag":{"type":"boolean","description":"recurringFlag"},"taxableFlag":{"type":"boolean","description":"taxableFlag","default":true},"sequenceNumber":{"type":"integer","format":"int32","description":"sequenceNumber"}},"required":["opportunity","status","catalogItem","forecastType"]}},{"name":"clientId","in":"header","required":true,"type":"string","default":"YOUR-CW-CLIENT-ID"},{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json"}]},"put":{"responses":{"200":{"description":"Created","schema":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"id"}}}}},"summary":"Replace Opportunity Forecast Item","description":"Replace new Opportunity Forecast Item in ConnectWise","operationId":"replace_opportunity_forecastitem","parameters":[{"name":"id","in":"path","required":true,"type":"string"},{"name":"parentId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"id"},"forecastDescription":{"type":"string","description":"forecastDescription"},"opportunity":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Opportunity ID","title":"Opportunity ID"}},"description":"opportunity","required":["id"]},"quantity":{"type":"number","description":"quantity"},"status":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Status ID","default":1,"title":"Status ID"}},"description":"status","required":["id"]},"catalogItem":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Catalog ID","title":"Catalog ID"}},"description":"catalogItem","required":["id"]},"productDescription":{"type":"string","description":"productDescription"},"revenue":{"type":"number","description":"revenue"},"cost":{"type":"number","description":"cost"},"includeFlag":{"type":"boolean","description":"includeFlag"},"forecastType":{"type":"string","description":"forecastType"},"linkFlag":{"type":"boolean","description":"linkFlag"},"recurringRevenue":{"type":"number","description":"recurringRevenue"},"recurringCost":{"type":"number","description":"recurringCost"},"cycles":{"type":"integer","format":"int32","description":"cycles"},"recurringFlag":{"type":"boolean","description":"recurringFlag"},"taxableFlag":{"type":"boolean","description":"taxableFlag","default":true},"sequenceNumber":{"type":"integer","format":"int32","description":"sequenceNumber"}},"required":["id","opportunity","status","catalogItem","forecastType"]}},{"name":"clientId","in":"header","required":true,"type":"string","default":"YOUR-CW-CLIENT-ID"},{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json"}]},"patch":{"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"id"}}}}},"summary":"Update Opportunity Forecast Item","description":"Update an Opportunity Forecast Item in ConnectWise","operationId":"update_opportunity_forecastitem","parameters":[{"name":"parentId","in":"path","required":true,"type":"string"},{"name":"id","in":"path","required":true,"type":"string"},{"name":"clientId","in":"header","required":true,"type":"string","default":"YOUR-CW-CLIENT-ID"},{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json"},{"name":"body","in":"body","required":true,"schema":{"type":"array","items":{"type":"object","properties":{"op":{"type":"string","description":"op","default":"replace"},"path":{"type":"string","description":"path"},"value":{"type":"string","description":"value"}}}}}]}},"/sales/opportunities/count":{"get":{"responses":{"200":{"description":"OK"}},"summary":"Get Opportunities","description":"Get Opportunity from ConnectWise","operationId":"get_opportunities_count","parameters":[{"name":"conditions","in":"query","required":false,"type":"string"},{"name":"childConditions","in":"query","required":false,"type":"string"},{"name":"customFieldConditions","in":"query","required":false,"type":"string"},{"name":"clientId","in":"header","required":true,"type":"string","default":"YOUR-CW-CLIENT-ID"},{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json"}]}},"/service/tickets":{"get":{"responses":{"200":{"description":"OK"}},"summary":"Get Tickets","description":"Get Tickets from ConnectWise","operationId":"get_tickets","parameters":[{"name":"conditions","in":"query","required":false,"type":"string"},{"name":"childConditions","in":"query","required":false,"type":"string"},{"name":"customFieldConditions","in":"query","required":false,"type":"string"},{"name":"orderBy","in":"query","required":false,"type":"string"},{"name":"fields","in":"query","required":false,"type":"string"},{"name":"page","in":"query","required":false,"type":"integer"},{"name":"pageSize","in":"query","required":false,"type":"integer"},{"name":"pageId","in":"query","required":false,"type":"integer"},{"name":"clientId","in":"header","required":true,"type":"string","default":"YOUR-CW-CLIENT-ID"},{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json"}]},"post":{"responses":{"201":{"description":"Created","schema":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"id"}}}}},"summary":"Create Ticket","description":"Create new Ticket in ConnectWise","operationId":"create_ticket","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"summary":{"type":"string","description":"summary"},"recordType":{"type":"string","description":"recordType","default":"ServiceTicket"},"board":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Board ID","title":"Board ID"}},"description":"board","required":["id"]},"company":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Company ID","title":"Company ID","default":250}},"description":"company","required":["id"]},"site":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Site ID","title":"Site ID"}},"description":"site"},"contact":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Contact ID","title":"Contact ID"}},"description":"contact"},"type":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Type ID","title":"Type ID"}},"description":"type"},"subType":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"SubType ID","title":"SubType ID"}},"description":"subType"},"item":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Item ID","title":"Item ID"}},"description":"item"},"owner":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Owner ID","title":"Owner ID"}},"description":"owner"},"priority":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Priority ID","title":"Priority ID"}},"description":"priority"},"requiredDate":{"type":"string","description":"requiredDate"},"budgetHours":{"type":"integer","description":"budgetHours"},"severity":{"type":"string","description":"severity"},"impact":{"type":"string","description":"impact"},"customerUpdatedFlag":{"type":"boolean","description":"Enable the Customer Updated Notification"},"automaticEmailCc":{"type":"string","description":"automaticEmailCc"},"initialDescription":{"type":"string","description":"initialDescription"},"initialInternalAnalysis":{"type":"string","description":"initialInternalAnalysis"},"initialDescriptionFrom":{"type":"string","description":"initialDescriptionFrom"},"processNotifications":{"type":"boolean","description":"Process Notification Flag"},"skipCallback":{"type":"boolean","description":"Skip Callback Flag"},"resources":{"type":"string","description":"resources"},"estimatedStartDate":{"type":"string","description":"estimatedStartDate"}},"required":["summary","board","company"]}},{"name":"clientId","in":"header","required":true,"type":"string","default":"YOUR-CW-CLIENT-ID"},{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json"}]}},"/service/tickets/{id}":{"get":{"responses":{"200":{"description":"OK"}},"summary":"Get Ticket by ID","description":"Get a Ticket from ConnectWise by ID","operationId":"get_tickets_by_id","parameters":[{"name":"id","in":"path","required":true,"type":"string"},{"name":"fields","in":"query","required":false,"type":"string"},{"name":"clientId","in":"header","required":true,"type":"string","default":"YOUR-CW-CLIENT-ID"},{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json"}]},"patch":{"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"id"}}}}},"summary":"Update Ticket","description":"Update a Ticket in ConnectWise","operationId":"update_ticket","parameters":[{"name":"id","in":"path","required":true,"type":"string"},{"name":"clientId","in":"header","required":true,"type":"string","default":"YOUR-CW-CLIENT-ID"},{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json"},{"name":"body","in":"body","required":true,"schema":{"type":"array","items":{"type":"object","properties":{"op":{"type":"string","description":"op","default":"replace"},"path":{"type":"string","description":"path"},"value":{"type":"string","description":"value"}}}}}]}},"/service/tickets/{parentId}/notes":{"get":{"responses":{"200":{"description":"OK"}},"summary":"Get Service Ticket Notes","description":"Get Service Ticket Notes from ConnectWise","operationId":"get_ticketnotes","parameters":[{"name":"parentId","in":"path","required":true,"type":"string"},{"name":"conditions","in":"query","required":false,"type":"string"},{"name":"childConditions","in":"query","required":false,"type":"string"},{"name":"customFieldConditions","in":"query","required":false,"type":"string"},{"name":"orderBy","in":"query","required":false,"type":"string"},{"name":"fields","in":"query","required":false,"type":"string"},{"name":"page","in":"query","required":false,"type":"integer"},{"name":"pageSize","in":"query","required":false,"type":"integer"},{"name":"pageId","in":"query","required":false,"type":"integer"},{"name":"clientId","in":"header","required":true,"type":"string","default":"YOUR-CW-CLIENT-ID"},{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json"}]},"post":{"responses":{"201":{"description":"Created","schema":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"id"}}}}},"summary":"Create Ticket Note","description":"Create new Ticket Note in ConnectWise","operationId":"create_ticketnote","parameters":[{"name":"parentId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"ticketId":{"type":"integer","format":"int32","description":"Ticket ID"},"text":{"type":"string","description":"Text"},"detailDescriptionFlag":{"type":"boolean","description":"Mark Note as Discussion Flag"},"internalAnalysisFlag":{"type":"boolean","description":"Mark Note as Internal Flag"},"resolutionFlag":{"type":"boolean","description":"Mark Note as Resolution Flag"},"issueFlag":{"type":"boolean","description":"Mark Note as Issue Flag"},"member":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Member ID","title":"Member ID"}},"description":"member"},"contact":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Contact ID","title":"Contact ID"}},"description":"contact"},"customerUpdatedFlag":{"type":"boolean","description":"Enable the Customer Updated Notification"},"processNotifications":{"type":"boolean","description":"processNotifications"},"internalFlag":{"type":"boolean","description":"Mark Note Source as Internal Flag"},"externalFlag":{"type":"boolean","description":"Mark Note Source as External Flag"}},"required":["ticketId","text"]}},{"name":"clientId","in":"header","required":true,"type":"string","default":"YOUR-CW-CLIENT-ID"},{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json"}]}},"/service/tickets/{parentId}/notes/{id}":{"get":{"responses":{"200":{"description":"OK"}},"summary":"Get Service Ticket Note by ID","description":"Get a Service Ticket Note from ConnectWise by ID","operationId":"get_ticketnotes_by_id","parameters":[{"name":"parentId","in":"path","required":true,"type":"string"},{"name":"id","in":"path","required":true,"type":"string"},{"name":"fields","in":"query","required":false,"type":"string"},{"name":"clientId","in":"header","required":true,"type":"string","default":"YOUR-CW-CLIENT-ID"},{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json"}]},"patch":{"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"id"}}}}},"summary":"Update Ticket Note","description":"Update a Service Ticket Note in ConnectWise","operationId":"update_ticketnote","parameters":[{"name":"parentId","in":"path","required":true,"type":"string"},{"name":"id","in":"path","required":true,"type":"string"},{"name":"clientId","in":"header","required":true,"type":"string","default":"YOUR-CW-CLIENT-ID"},{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json"},{"name":"body","in":"body","required":true,"schema":{"type":"array","items":{"type":"object","properties":{"op":{"type":"string","description":"op","default":"replace"},"path":{"type":"string","description":"path"},"value":{"type":"string","description":"value"}}}}}]}},"/time/entries":{"get":{"responses":{"200":{"description":"OK"}},"summary":"Get Time Entries","description":"Get Time Entries from ConnectWise by ID","operationId":"get_timeentries","parameters":[{"name":"conditions","in":"query","required":false,"type":"string"},{"name":"childConditions","in":"query","required":false,"type":"string"},{"name":"customFieldConditions","in":"query","required":false,"type":"string"},{"name":"orderBy","in":"query","required":false,"type":"string"},{"name":"fields","in":"query","required":false,"type":"string"},{"name":"page","in":"query","required":false,"type":"integer"},{"name":"pageSize","in":"query","required":false,"type":"integer"},{"name":"pageId","in":"query","required":false,"type":"integer"},{"name":"clientId","in":"header","required":true,"type":"string","default":"YOUR-CW-CLIENT-ID"},{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json"}]},"post":{"responses":{"201":{"description":"Created","schema":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"id"}}}}},"summary":"Create Time Entry","description":"Create new Time Entry in ConnectWise","operationId":"create_timeentry","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"chargeToId":{"type":"integer","format":"int32","description":"ChargeTo ID"},"chargeToType":{"type":"string","description":"ChargeTo Type"},"member":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Member ID","title":"Member ID"}},"description":"member","required":["id"]},"workType":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Work Type ID","title":"Work Type ID"}},"description":"workType"},"workRole":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Work Role ID","title":"Work Role ID"}},"description":"workRole"},"timeStart":{"type":"string","description":"Start Time in UTC"},"timeEnd":{"type":"string","description":"End Time in UTC"},"hoursDeduct":{"type":"integer","format":"int32","description":"Decimal Hours to Deduct"},"actualHours":{"type":"integer","format":"int32","description":"Decimal Hours Worked"},"billableOption":{"type":"string","description":"Billable Option"},"notes":{"type":"string","description":"Notes"},"internalNotes":{"type":"string","description":"Internal Notes"},"addToDetailDescriptionFlag":{"type":"boolean","description":"Mark Note as Discussion Flag"},"addToInternalAnalysisFlag":{"type":"boolean","description":"Mark Note as Internal Flag"},"addToResolutionFlag":{"type":"boolean","description":"Mark Note as Resolution Flag"},"status":{"type":"string","description":"Status"}},"required":["member","notes","chargeToId","chargeToType","timeStart"]}},{"name":"clientId","in":"header","required":true,"type":"string","default":"YOUR-CW-CLIENT-ID"},{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json"}]}},"/time/entries/{id}":{"get":{"responses":{"200":{"description":"OK"}},"summary":"Get Time Entry by ID","description":"Get a Time Entry from ConnectWise by ID","operationId":"get_timeentries_by_id","parameters":[{"name":"id","in":"path","required":true,"type":"string"},{"name":"fields","in":"query","required":false,"type":"string"},{"name":"clientId","in":"header","required":true,"type":"string","default":"YOUR-CW-CLIENT-ID"},{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json"}]},"patch":{"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"id"}}}}},"summary":"Update Time Entry","description":"Update a Time Entry in ConnectWise","operationId":"update_timeentry","parameters":[{"name":"id","in":"path","required":true,"type":"string"},{"name":"clientId","in":"header","required":true,"type":"string","default":"YOUR-CW-CLIENT-ID"},{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json"},{"name":"body","in":"body","required":true,"schema":{"type":"array","items":{"type":"object","properties":{"op":{"type":"string","description":"op","default":"replace"},"path":{"type":"string","description":"path"},"value":{"type":"string","description":"value"}}}}}]}}},"definitions":{},"parameters":{},"responses":{},"security":[{"basic-auth":[]}],"tags":[],"securityDefinitions":{"basic-auth":{"type":"basic"}}}