{"swagger":"2.0","info":{"title":"opportunities_api","description":"ConnectWise Opportunity API endpoints","version":"1.0"},"host":"api-au.myconnectwise.net","basePath":"/v4_6_release/apis/3.0/","schemes":["https"],"consumes":[],"produces":[],"paths":{"/sales/opportunities":{"get":{"responses":{"200":{"description":"OK"}},"summary":"Get Opportunities","description":"Get Opportunity from ConnectWise","operationId":"get_opportunities","parameters":[{"name":"conditions","in":"query","required":false,"type":"string"},{"name":"childConditions","in":"query","required":false,"type":"string"},{"name":"customFieldConditions","in":"query","required":false,"type":"string"},{"name":"orderBy","in":"query","required":false,"type":"string"},{"name":"fields","in":"query","required":false,"type":"string"},{"name":"page","in":"query","required":false,"type":"integer"},{"name":"pageSize","in":"query","required":false,"type":"integer"},{"name":"pageId","in":"query","required":false,"type":"integer"},{"name":"clientId","in":"header","required":true,"type":"string","default":"YOUR-CW-CLIENT-ID"},{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json"}]},"post":{"responses":{"201":{"description":"Created","schema":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"id"}}}}},"summary":"Create Opportunity","description":"Create new Opportunity in ConnectWise","operationId":"create_opportunity","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"name":{"type":"string","description":"name"},"expectedCloseDate":{"type":"string","description":"Expected Close Date"},"type":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Type ID","title":"Type ID"}},"description":"type"},"stage":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Stage ID","title":"Stage ID"}},"description":"stage"},"status":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Status ID","title":"Status ID"}},"description":"status"},"priority":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Priority ID","title":"Priority ID"}},"description":"priority"},"notes":{"type":"string","description":"Notes"},"probability":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Probability ID","title":"Probability ID"}},"description":"probability"},"source":{"type":"string","description":"Source"},"rating":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Rating ID","title":"Rating ID"}},"description":"rating"},"campaign":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Campaign ID","title":"Campaign ID"}},"description":"campaign"},"primarySalesRep":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Primary Sales Rep ID","title":"Primary Sales Rep ID"}},"description":"primarySalesRep","required":["id"]},"secondarySalesRep":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Secondary Sales Rep ID","title":"Secondary Sales Rep ID"}},"description":"secondarySalesRep"},"locationId":{"type":"integer","format":"int32","description":"locationId"},"businessUnitId":{"type":"integer","format":"int32","description":"businessUnitId"},"company":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Company ID","title":"Company ID"}},"description":"company","required":["id"]},"contact":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Contact ID","title":"Contact ID"}},"description":"contact","required":["id"]},"site":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Site ID","title":"Site ID"}},"description":"site"},"customerPO":{"type":"string","description":"customerPO"}},"required":["name","company","contact","primarySalesRep"]}},{"name":"clientId","in":"header","required":true,"type":"string","default":"YOUR-CW-CLIENT-ID"},{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json"}]}},"/sales/opportunities/{id}":{"get":{"responses":{"200":{"description":"OK"}},"summary":"Get Opportunity by ID","description":"Get an Opportunity from ConnectWise by ID","operationId":"get_opportunities_by_id","parameters":[{"name":"id","in":"path","required":true,"type":"string"},{"name":"fields","in":"query","required":false,"type":"string"},{"name":"clientId","in":"header","required":true,"type":"string","default":"YOUR-CW-CLIENT-ID"},{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json"}]},"patch":{"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"id"}}}}},"description":"Update an Opportunity in ConnectWise","summary":"Update Opportunity","operationId":"update_opportunity","parameters":[{"name":"id","in":"path","required":true,"type":"string"},{"name":"clientId","in":"header","required":true,"type":"string","default":"YOUR-CW-CLIENT-ID"},{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json"},{"name":"body","in":"body","required":true,"schema":{"type":"array","items":{"type":"object","properties":{"op":{"type":"string","description":"op"},"path":{"type":"string","description":"path"},"value":{"type":"string","description":"value"}}}}}]}},"/sales/opportunities/count":{"get":{"responses":{"200":{"description":"OK"}},"summary":"Get Opportunities","description":"Get Opportunity from ConnectWise","operationId":"get_opportunities_count","parameters":[{"name":"conditions","in":"query","required":false,"type":"string"},{"name":"childConditions","in":"query","required":false,"type":"string"},{"name":"customFieldConditions","in":"query","required":false,"type":"string"},{"name":"clientId","in":"header","required":true,"type":"string","default":"YOUR-CW-CLIENT-ID"},{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json"}]}}},"definitions":{},"parameters":{},"responses":{},"security":[{"basic-auth":[]}],"tags":[],"securityDefinitions":{"basic-auth":{"type":"basic"}}}